


.mediaCard{
  border: 1px solid blue;
  margin: 5px;
  padding: 10px;
}

.DarkModeClass {
  background-color: #333333;
  color: white;
}

.LightModeClass {
  background-color: white;
  color: black;
}